<div class="main wrapper flexitem-fluid flexbox-h">
  <aside class="aside-gauche" id="nav-gauche"></aside>
  <div class="main wrapper flexitem-fluid application">
    <section data-field="app-section" class="with-aside-app">
      <nav data-field="breadcrumb"></nav>
      <header>
        <h2 class="title"><span data-field="title">Application SP</span></h2>
        <aside data-field="menu" class="menu actions"></aside>
        <p data-field="description" data-i18n-key="description">Créé pour tout l'équipe, il regroupe les billets aussi bien R&amp;D
          que
          projet...Here you can
          find two other compact skins like - skin-black ( on the left ) and skin-aurora ( on the
          right
          )
          - like skin-default, these are compact skins .

          You will find in the second example that events can have different colors. For example, if
          an
          event is important you can assign the tag important and it will show up red.
        </p>
      </header>
      <aside class="aside-app" id="aside-app-fixed">
        <img src="img/calendar-magie-mai.png" alt="calendrier"/>
      </aside>
      <div class="application-content"></div>
      <footer>
        <div class="application-footer">--</div>
      </footer>
    </section>
  </div>
</div>