<div>
  <aside class="aside-gauche" id="nav-gauche">
    <a data-field="menuToggle" class="icon-menu" href="#" title="Cacher ce menu que je ne saurais voir">Menu</a>
    <nav>
      <ul data-field="menu-content"></ul>
    </nav>
  </aside>
  <div class="main wrapper flexitem-fluid">
    <nav class="breadcrumb"></nav>
    <section class="space">
      <h2 class="title"><span data-field="mainTitle">Chez Silverpeas</span></h2>

      <div data-field="main-content"></div>
    </section>
  </div>
</div>